{% set noNavbar = true %}
{% extends 'bootswatch:/base/layout.html' %}

{% block style %}
<style>
  html, body, #main-container {
    height:100%;
  }
</style>
{% endblock %}

{% block content %}
  <div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="col-6 mx-auto">
        <div class="card {{ style.box }} mb-3 shadow-lg rounded">
          <div class="card-header">{{ panelHeader|d('Error!') }}</div>
          <div class="card-body">
            {% if panelTitle %}
            <h4 class="card-title">{{ panelTitle }}</h4>
            {% endif %}
            <div class="card-text">{% block panelContent %}{% endblock %}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}