<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if coreCfg('bootswatch').useCdn %}
      {% if site.theme %}
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/{{ site.theme }}/bootstrap.min.css">
      {% else %}
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
      {% endif %}
    {% else %}
      {% if site.theme %}
      <link rel="stylesheet" href="{{ coreCfg('static').mountResource }}/bootswatch/{{ site.theme }}/bootstrap.min.css">
      {% else %}
      <link rel="stylesheet" href="{{ coreCfg('static').mountResource }}/bootswatch/bootstrap/css/bootstrap.min.css">
      {% endif %}
    {% endif %}
    {% block style %}
    {% endblock %}
    <title>{{ page.title|d(site.hostname) }}</title>
  </head>
  <body>
    {% if not noNavbar %}
    {% if coreCfg('bootswatch').navbar or not noNavbar %}
    <div class="navbar navbar-expand-lg {{ coreCfg('bootswatch').navbar }}">
      <div class="{% if coreCfg('bootswatch').fluidContainer %}container-fluid{% else %}container{% endif %}">
        {% block navbar %}
        {% endblock %}
      </div>
    </div>
    {% endif %}
    {% endif %}
    <div class="{% if coreCfg('bootswatch').fluidContainer %}container-fluid{% else %}container{% endif %}" id="main-container">
      {% block content %}
      {% endblock %}
    </div>
    {% if coreCfg('bootswatch').useCdn %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    {% else %}
    <script src="{{ coreCfg('static').mountResource }}/bootswatch/jquery/jquery.slim.min.js"></script>
    <script src="{{ coreCfg('static').mountResource }}/bootswatch/popper.js/umd/popper.min.js"></script>
    <script src="{{ coreCfg('static').mountResource }}/bootswatch/bootstrap/js/bootstrap.min.js"></script>
    {% endif %}
    {% block script %}
    {% endblock %}
  </body>
</html>